name: RustWindows

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main", "dev"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Config Env
        run: rustup install nightly && rustup default nightly
      - name: Build
        run: cd gdrust && cargo build --package proto --features protobuf_feature --all
      - name: Build Release
        run: cd gdrust && cargo build --package proto --features protobuf_feature --all --release
      - name: Run tests Debug
        run: cd gdrust && cargo test --all
      - name: Run tests Release
        run: cd gdrust && cargo test --release --all
